<app-card
  [title]="'Willkommen!'"
  [justifyHeaderContent]="'center'"
>
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <img src="assets/leadtributor_circle-favicon-128.png">
    <h3>Heute ist ein guter Tag, um Leads zu bearbeiten</h3>
  </div>
</app-card>
