<div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-between stretch">
  <app-card
    [title]="'News, Werbung, etc.'"
    [justifyHeaderContent]="'center'">
  </app-card>

  <app-card
    [title]="'Willkommen!'"
    [justifyHeaderContent]="'center'"
  >
    <div fxLayout="column" fxLayoutAlign="space-around center" fxFlex="0 1 100%">
      <img src="assets/leadtributor_circle-favicon-128.png" alt="ö">
      <h3>Heute ist ein guter Tag, um Leads zu bearbeiten</h3>
    </div>
  </app-card>

  <app-card fxFlex="1 1 10%">
    <app-lastactions></app-lastactions>
  </app-card>

</div>
