<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="185.086" height="36.479" viewBox="0 0 185.086 36.479">
    <g transform="translate(-852.697 -210.372)">
      <g transform="translate(852.697 210.372)">
        <path class="a"
              d="M950.093,26.874a15.983,15.983,0,0,0-3.1-3.266,17.574,17.574,0,0,0-4.42-2.6,15.646,15.646,0,0,0-3.24-.952,10.091,10.091,0,0,0-1.751-.138l-.329-.006c-.738-.019-2.7.127-2.914.151a18.132,18.132,0,0,0-3.607.747c.2.038.4.08.594.126a11.867,11.867,0,0,1,1.235.377c.168.057.334.116.5.171l.9.345c.037.012,1.25.578,1.25.578.168.093.341.186.515.279.393.211.8.428,1.192.678a18.075,18.075,0,0,1,3.731,3.173,12.589,12.589,0,0,1,1.911,2.711,14.179,14.179,0,0,1,.945,2.361,13.016,13.016,0,0,1,.483,2.435,11.008,11.008,0,0,1-.1,3.22l-.094.484h0a13.222,13.222,0,0,1-.495,1.9,7.36,7.36,0,0,1-2.3,3.259c.146-.043.295-.077.438-.126a12.875,12.875,0,0,0,2.11-.932,11.33,11.33,0,0,0,2.367-1.8,16.744,16.744,0,0,0,2.819-3.562c.211-.358.4-.733.589-1.129q.133-.273.269-.545l.483-1.08.161-.521.115-.36c.044-.159.1-.338.154-.516a10.484,10.484,0,0,0,.3-1.107c.1-.507.17-1.036.241-1.547.042-.309.085-.619.133-.928a.849.849,0,0,1,.02-.1,20.246,20.246,0,0,0-1.109-1.781"
              transform="translate(-918.747 -19.911)"/>
        <path class="b" d="M947.02,31.072l.114-.359-.115.361v0Z" transform="translate(-915.527 -17.775)"/>
        <path class="a"
              d="M930.851,40.859c.074.156.157.308.239.461.049.091.1.182.149.273.1.165.2.328.3.491.048.073.091.147.14.219q.237.35.5.689a11.281,11.281,0,0,0,2.213,2.144,20.027,20.027,0,0,0,2.382,1.515,16.79,16.79,0,0,0,4.876,1.68,25.224,25.224,0,0,0,4.143.368s.549,0,1.084-.031h0a16.012,16.012,0,0,0,3.12-3.19,17.588,17.588,0,0,0,2.443-4.508,15.737,15.737,0,0,0,.837-3.272,17.452,17.452,0,0,0,.2-2.484,25.207,25.207,0,0,0-.238-2.965,15.684,15.684,0,0,0-.45-2.056,11.708,11.708,0,0,0-.507-1.444c-.048.325-.1.653-.163.978-.083.432-.183.789-.259,1.071-.1.356-.2.733-.247.9l-.206.63s-.115.293-.318.743-.478.938-.564,1.114c-.2.4-.4.816-.637,1.218a18.148,18.148,0,0,1-3.039,3.841,12.642,12.642,0,0,1-2.643,2.006,14.2,14.2,0,0,1-2.326,1.026,13.067,13.067,0,0,1-2.417.569,11.373,11.373,0,0,1-2.881.062c-.114-.013-.226-.028-.339-.044a16.085,16.085,0,0,1-2.4-.508,7.363,7.363,0,0,1-3.26-2.095c.041.1.082.2.126.3s.087.2.136.3"
              transform="translate(-918.774 -18.163)"/>
        <path class="b" d="M930.831,38.911c-.048-.1-.091-.2-.135-.3.044.1.087.2.135.3"
              transform="translate(-918.754 -16.215)"/>
        <path class="b" d="M931.155,39.518c-.051-.09-.1-.182-.147-.273.049.091.1.183.147.273"
              transform="translate(-918.692 -16.089)"/>
        <path class="c"
              d="M931.973,29.392a11.877,11.877,0,0,0-3.443,1.893,14.356,14.356,0,0,0-2.643,2.647s-.117.122-.336.4a18.574,18.574,0,0,0-1.242,1.911,19.39,19.39,0,0,0-1.14,2.527c-.284.737-.5,1.509-.741,2.368a6.158,6.158,0,0,0-.137.732c-.027.182-.11.628-.126.669a10.378,10.378,0,0,0,.653,1.164c.379.576.774,1.143,1.169,1.708,0,0,.878,1.12.925,1.169l.657.771.517.474s.283.235.356.3a5.6,5.6,0,0,0,.428.363,22.265,22.265,0,0,0,2.77,1.812,18.529,18.529,0,0,0,3.375,1.371,16.413,16.413,0,0,0,3.231.589,17.924,17.924,0,0,0,3.25-.017,16.338,16.338,0,0,0,3.8-.825l.266-.093a20.773,20.773,0,0,0,2.36-1.054c.235-.121.464-.255.694-.4a18.677,18.677,0,0,1-3.539-.323,18.105,18.105,0,0,1-5.251-1.812,21.3,21.3,0,0,1-2.538-1.614,12.918,12.918,0,0,1-4.379-5.74,13.445,13.445,0,0,1-.88-4.994c0-.3.018-.6.043-.907a8.12,8.12,0,0,1,1.218-3.623,6.734,6.734,0,0,1,1.6-1.749h-.017l-.382.095a4.72,4.72,0,0,1-.519.183"
              transform="translate(-920.439 -18.092)"/>
        <path class="a"
              d="M922.226,39.812a20.6,20.6,0,0,1,1.22-2.7,22.687,22.687,0,0,1,1.624-2.383l.047-.063A15.691,15.691,0,0,1,928,31.774a13.247,13.247,0,0,1,3.847-2.11l.174-.054a.9.9,0,0,0,.151-.048l1-.261c.019,0,.158-.031.2-.036v0c.231-.03.461-.063.692-.1a16.248,16.248,0,0,1,1.655-.189c.231-.011.463-.012.695-.007a13.311,13.311,0,0,1,2.307.259,10.107,10.107,0,0,1,2.638.841,7.644,7.644,0,0,1,3.17,2.883,12.174,12.174,0,0,0-.3-1.26,12.918,12.918,0,0,0-.856-2.14,11.347,11.347,0,0,0-1.717-2.429,16.8,16.8,0,0,0-3.46-2.943h0c-.35-.223-.716-.42-1.105-.626q-.27-.146-.538-.292s-.889-.434-1.005-.473c-.082-.029-.26-.114-.26-.114l-.669-.241c-.157-.049-.333-.11-.509-.172a10.851,10.851,0,0,0-1.1-.338c-.5-.115-1.031-.207-1.54-.3-.307-.054-.614-.107-.92-.165a.866.866,0,0,1-.119-.031,15.668,15.668,0,0,0-3.756,2.489,22.979,22.979,0,0,0-1.866,1.892,14.229,14.229,0,0,0-1.384,1.852c-.344.557-.636,1.14-.946,1.757q-.165.331-.334.66a13.546,13.546,0,0,0-1.119,3.568,17.3,17.3,0,0,0-.281,2.583,18.916,18.916,0,0,0,.054,2.442,15.723,15.723,0,0,0,.7,3.443c.228-.818.445-1.564.729-2.3"
              transform="translate(-920.724 -19.611)"/>
      </g>
      <path class="d" d="M962.111,25.933h-4.056v18.8h4.056v-18.8Z" transform="translate(-61.667 184.714)"/>
      <path class="c"
            d="M976.265,37.492v.489a4.359,4.359,0,0,1-.024.463h-8.82a2.126,2.126,0,0,0,.306.929,2.647,2.647,0,0,0,.66.72,3.238,3.238,0,0,0,1.942.648,3.38,3.38,0,0,0,1.613-.354,3.191,3.191,0,0,0,1.074-.916l2.786,1.759a5.625,5.625,0,0,1-2.261,1.917,7.474,7.474,0,0,1-3.261.672,7.753,7.753,0,0,1-2.589-.428,6.272,6.272,0,0,1-2.139-1.246,5.772,5.772,0,0,1-1.441-2.016,6.755,6.755,0,0,1-.526-2.737,6.858,6.858,0,0,1,.513-2.7,6.112,6.112,0,0,1,1.393-2.053,6.213,6.213,0,0,1,2.077-1.307,7.094,7.094,0,0,1,2.59-.465,6.528,6.528,0,0,1,2.468.453,5.357,5.357,0,0,1,1.929,1.307,6.048,6.048,0,0,1,1.259,2.075,8,8,0,0,1,.451,2.787m-3.689-1.539a2.406,2.406,0,0,0-.6-1.638,2.257,2.257,0,0,0-1.8-.684,3.04,3.04,0,0,0-1.076.183,2.787,2.787,0,0,0-.855.5,2.478,2.478,0,0,0-.587.746,2.2,2.2,0,0,0-.244.892Z"
            transform="translate(-60.574 185.69)"/>
      <path class="c"
            d="M976.207,32.923a7,7,0,0,1,2.505-1.539,8.537,8.537,0,0,1,2.919-.514,7.8,7.8,0,0,1,2.6.378,3.873,3.873,0,0,1,1.722,1.172,5.007,5.007,0,0,1,.965,2,11.776,11.776,0,0,1,.307,2.871l.03,6.434-3.695-.007V42.134h-.073a3.019,3.019,0,0,1-1.4,1.172,5,5,0,0,1-2.041.416,6.281,6.281,0,0,1-1.514-.2,4.442,4.442,0,0,1-1.43-.636,3.408,3.408,0,0,1-1.062-1.172,3.609,3.609,0,0,1-.416-1.808,3.067,3.067,0,0,1,.721-2.126,4.743,4.743,0,0,1,1.856-1.246,9.8,9.8,0,0,1,2.529-.586,25.779,25.779,0,0,1,2.711-.147v-.2a1.494,1.494,0,0,0-.635-1.332,2.738,2.738,0,0,0-1.564-.428,3.894,3.894,0,0,0-1.649.366,5.233,5.233,0,0,0-1.356.879l-2.029-2.174Zm7.355,5.2h-.513q-.66,0-1.332.061a5.5,5.5,0,0,0-1.2.232,2.225,2.225,0,0,0-.867.5,1.153,1.153,0,0,0-.343.867,1.049,1.049,0,0,0,.159.587,1.227,1.227,0,0,0,.4.39,1.706,1.706,0,0,0,.563.208,3.235,3.235,0,0,0,.61.061,2.48,2.48,0,0,0,1.871-.673,2.51,2.51,0,0,0,.647-1.819v-.416Z"
            transform="translate(-58.194 185.69)"/>
      <path class="c"
            d="M996.966,38.3a3.285,3.285,0,0,0-.208-1.149,3.227,3.227,0,0,0-.586-1,2.942,2.942,0,0,0-.916-.709,2.7,2.7,0,0,0-1.221-.268,2.756,2.756,0,0,0-1.246.268,2.8,2.8,0,0,0-1.454,1.686,3.66,3.66,0,0,0-.184,1.149,3.77,3.77,0,0,0,.184,1.162,2.982,2.982,0,0,0,.549,1.013,2.789,2.789,0,0,0,.905.709,2.756,2.756,0,0,0,1.246.268,2.7,2.7,0,0,0,1.221-.268,2.924,2.924,0,0,0,.916-.709,3.234,3.234,0,0,0,.586-1,3.285,3.285,0,0,0,.208-1.149m.145,6.4,0-1.88h-.049a3.822,3.822,0,0,1-1.674,1.43,5.467,5.467,0,0,1-2.309.5,5.382,5.382,0,0,1-2.443-.539,5.585,5.585,0,0,1-1.819-1.428,6.25,6.25,0,0,1-1.136-2.066,7.651,7.651,0,0,1-.392-2.443,7.338,7.338,0,0,1,.4-2.431,6.318,6.318,0,0,1,1.148-2.04,5.354,5.354,0,0,1,4.191-1.905,4.635,4.635,0,0,1,2.272.513,5.029,5.029,0,0,1,1.44,1.125h.049v-7.6h4.007l-.03,18.762Z"
            transform="translate(-55.889 184.714)"/>
      <path class="c"
            d="M1005.824,34.73v4.642a2.078,2.078,0,0,0,.329,1.283,1.415,1.415,0,0,0,1.184.428,4.3,4.3,0,0,0,.624-.049,2.142,2.142,0,0,0,.549-.146l.05,2.932a6.709,6.709,0,0,1-1.052.256,7.465,7.465,0,0,1-1.271.11,5.983,5.983,0,0,1-2.051-.305,3.184,3.184,0,0,1-1.332-.879,3.452,3.452,0,0,1-.721-1.369,6.647,6.647,0,0,1-.22-1.771V34.73h-1.955V31.724h1.931v-3.2h3.934v3.2h2.859V34.73Z"
            transform="translate(-53.384 185.226)"/>
      <path class="c"
            d="M1016.705,34.527a3.021,3.021,0,0,0-.525-.1c-.172-.017-.338-.025-.5-.025a2.858,2.858,0,0,0-1.356.293,2.734,2.734,0,0,0-.879.709,2.679,2.679,0,0,0-.477.9,3.033,3.033,0,0,0-.147.855l.025,6.54-4.012,0-.019-12.458h3.86v1.761h.049a3.937,3.937,0,0,1,1.32-1.516,3.413,3.413,0,0,1,1.979-.586,4.423,4.423,0,0,1,.477.024,1.893,1.893,0,0,1,.378.073l-.171,3.519Z"
            transform="translate(-51.635 185.698)"/>
      <path class="c"
            d="M1016.995,44.655l-.012-12.455h4.006l.035,12.448-4.029.007Zm4.288-16.34a2.069,2.069,0,0,1-.183.868,2.221,2.221,0,0,1-.49.7,2.261,2.261,0,0,1-.732.465,2.389,2.389,0,0,1-.892.171,2.247,2.247,0,0,1-1.637-.648,2.1,2.1,0,0,1-.66-1.552,2.145,2.145,0,0,1,.171-.843,2.006,2.006,0,0,1,.489-.7,2.688,2.688,0,0,1,.733-.477,2.215,2.215,0,0,1,.9-.182,2.388,2.388,0,0,1,.892.17,2.21,2.21,0,0,1,1.221,1.159,2.081,2.081,0,0,1,.183.868"
            transform="translate(-50.08 184.75)"/>
      <path class="c"
            d="M1032.623,38.271a3.688,3.688,0,0,0-.184-1.149,2.812,2.812,0,0,0-1.454-1.686,2.76,2.76,0,0,0-1.245-.268,2.7,2.7,0,0,0-1.222.268,2.94,2.94,0,0,0-.916.709,3.314,3.314,0,0,0,0,4.3,2.922,2.922,0,0,0,.916.709,2.7,2.7,0,0,0,1.222.268,2.7,2.7,0,0,0,2.15-.977,2.962,2.962,0,0,0,.55-1.013,3.8,3.8,0,0,0,.184-1.162m3.861,0a7.653,7.653,0,0,1-.392,2.443,6.256,6.256,0,0,1-1.136,2.066,5.585,5.585,0,0,1-1.819,1.428,5.378,5.378,0,0,1-2.443.539,5.468,5.468,0,0,1-2.309-.5,3.814,3.814,0,0,1-1.674-1.43h-.048l.015,1.878-3.68,0-.024-18.766h4.007v7.6h.049a5.032,5.032,0,0,1,1.441-1.125,4.634,4.634,0,0,1,2.272-.513,5.35,5.35,0,0,1,4.191,1.905,6.316,6.316,0,0,1,1.148,2.04,7.372,7.372,0,0,1,.4,2.431"
            transform="translate(-48.837 184.714)"/>
      <path class="c"
            d="M1044.429,43.654l-.019-1.976h-.049a3.426,3.426,0,0,1-.574.782,3.606,3.606,0,0,1-.831.635,5.1,5.1,0,0,1-1.051.441,4.227,4.227,0,0,1-1.209.171,4.42,4.42,0,0,1-2.065-.441,3.973,3.973,0,0,1-1.368-1.137,4.484,4.484,0,0,1-.758-1.587,7.221,7.221,0,0,1-.232-1.82V31.2h4.032v6.6a6.186,6.186,0,0,0,.073.977,2.376,2.376,0,0,0,.281.831,1.538,1.538,0,0,0,.549.575,1.739,1.739,0,0,0,.905.207,1.837,1.837,0,0,0,1.6-.782,3.112,3.112,0,0,0,.55-1.832V31.2h4.008l-.009,12.464-3.833-.006Z"
            transform="translate(-46.208 185.754)"/>
      <path class="c"
            d="M1053.5,34.73v4.642a2.079,2.079,0,0,0,.331,1.283,1.414,1.414,0,0,0,1.185.428,4.3,4.3,0,0,0,.623-.049,2.132,2.132,0,0,0,.55-.146l.049,2.932a6.678,6.678,0,0,1-1.051.256,7.458,7.458,0,0,1-1.271.11,5.985,5.985,0,0,1-2.052-.305,3.192,3.192,0,0,1-1.333-.879,3.451,3.451,0,0,1-.719-1.369,6.6,6.6,0,0,1-.22-1.771V34.73h-1.955V31.724h1.931v-3.2h3.933v3.2h2.859V34.73Z"
            transform="translate(-43.964 185.226)"/>
      <path class="c"
            d="M1065.631,37.3a3.476,3.476,0,0,0-.2-1.149,3.027,3.027,0,0,0-.562-.989,2.867,2.867,0,0,0-.9-.7,3.028,3.028,0,0,0-2.492,0,2.731,2.731,0,0,0-.891.7,2.97,2.97,0,0,0-.539.989,3.712,3.712,0,0,0,0,2.3,3.128,3.128,0,0,0,.551,1.014,2.711,2.711,0,0,0,.9.721,3.025,3.025,0,0,0,2.491,0,2.708,2.708,0,0,0,.9-.721,3.1,3.1,0,0,0,.55-1.014,3.69,3.69,0,0,0,.183-1.149m3.861,0a6.569,6.569,0,0,1-.538,2.7,6.041,6.041,0,0,1-1.466,2.052,6.706,6.706,0,0,1-2.15,1.308,7.572,7.572,0,0,1-5.217,0,6.554,6.554,0,0,1-2.151-1.308A6.149,6.149,0,0,1,1056.519,40a6.589,6.589,0,0,1-.538-2.7,6.5,6.5,0,0,1,.538-2.687,6.062,6.062,0,0,1,1.453-2.028,6.309,6.309,0,0,1,2.151-1.269,7.94,7.94,0,0,1,5.217,0,6.448,6.448,0,0,1,2.15,1.269,5.956,5.956,0,0,1,1.466,2.028,6.483,6.483,0,0,1,.538,2.687"
            transform="translate(-42.314 185.69)"/>
      <path class="c"
            d="M1077.276,34.527a3.052,3.052,0,0,0-.524-.1c-.172-.017-.338-.025-.5-.025a2.857,2.857,0,0,0-1.355.293,2.749,2.749,0,0,0-.879.709,2.673,2.673,0,0,0-.477.9,3.026,3.026,0,0,0-.148.855l.036,6.552-4.026-.008-.016-12.457h3.86v1.761h.049a3.934,3.934,0,0,1,1.32-1.516,3.412,3.412,0,0,1,1.978-.586,4.419,4.419,0,0,1,.476.024,1.884,1.884,0,0,1,.378.073l-.171,3.519Z"
            transform="translate(-39.664 185.698)"/>
      <path class="e"
            d="M2.577,23.758a1,1,0,0,1-.739-.311,1.023,1.023,0,0,1-.306-.744,1.039,1.039,0,0,1,.306-.749.992.992,0,0,1,.739-.316,1.018,1.018,0,0,1,.753.316,1.031,1.031,0,0,1,.311.749,1.015,1.015,0,0,1-.311.744A1.026,1.026,0,0,1,2.577,23.758Zm10.219-.65a5.019,5.019,0,0,1-2.637.669,4.366,4.366,0,0,1-3.329-1.342,4.864,4.864,0,0,1-1.267-3.48,5.347,5.347,0,0,1,1.366-3.828,4.777,4.777,0,0,1,3.645-1.446,5.073,5.073,0,0,1,2.241.471v1.582a3.927,3.927,0,0,0-2.3-.753,3.105,3.105,0,0,0-2.425,1.06,4.021,4.021,0,0,0-.947,2.783,3.828,3.828,0,0,0,.89,2.675,3.068,3.068,0,0,0,2.387.979,3.871,3.871,0,0,0,2.373-.838Zm3.88.443H15.131V9.273h1.545Zm7.158.226a4.473,4.473,0,0,1-3.414-1.351,5.006,5.006,0,0,1-1.276-3.584,5.215,5.215,0,0,1,1.328-3.8,4.774,4.774,0,0,1,3.588-1.366,4.325,4.325,0,0,1,3.367,1.328,5.265,5.265,0,0,1,1.21,3.682,5.181,5.181,0,0,1-1.3,3.7A4.571,4.571,0,0,1,23.833,23.777Zm.113-8.8a2.938,2.938,0,0,0-2.355,1.012,4.158,4.158,0,0,0-.866,2.792,3.932,3.932,0,0,0,.876,2.7,2.977,2.977,0,0,0,2.345.989,2.824,2.824,0,0,0,2.3-.97,4.21,4.21,0,0,0,.805-2.759,4.282,4.282,0,0,0-.805-2.788A2.811,2.811,0,0,0,23.946,14.981ZM38.9,23.551H37.357V22.025H37.32a3.172,3.172,0,0,1-2.976,1.752q-3.447,0-3.447-4.106V13.907h1.535v5.519q0,3.051,2.336,3.051a2.363,2.363,0,0,0,1.86-.833,3.189,3.189,0,0,0,.73-2.18V13.907H38.9Zm11.349,0H48.706V21.912h-.038a3.566,3.566,0,0,1-3.315,1.865,3.6,3.6,0,0,1-2.905-1.295,5.312,5.312,0,0,1-1.088-3.527,5.78,5.78,0,0,1,1.206-3.833,3.976,3.976,0,0,1,3.212-1.441,3.091,3.091,0,0,1,2.891,1.563h.038V9.273h1.545Zm-1.545-4.361V17.768a2.759,2.759,0,0,0-.772-1.978,2.59,2.59,0,0,0-1.959-.81,2.667,2.667,0,0,0-2.223,1.036,4.54,4.54,0,0,0-.81,2.863,4.083,4.083,0,0,0,.777,2.632,2.539,2.539,0,0,0,2.086.965,2.638,2.638,0,0,0,2.1-.932A3.474,3.474,0,0,0,48.706,19.191Z"
            transform="translate(893.334 223.074)"/>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'LeadtributorCloudIconColor'
}
</script>

<style scoped>
.a {
  fill: #73998e;
}

.b {
  fill: #3e4041;
}

.c, .d {
  fill: #57b98f;
}

.d {
  fill-rule: evenodd;
}

.e {
  fill: #174136;
}
</style>
