<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="29.115" height="28.714" viewBox="0 0 29.115 28.714">
    <g transform="translate(-17 -25.286)">
      <path class="a"
            d="M946.971,25.751a13.411,13.411,0,0,0-2.6-2.739,14.74,14.74,0,0,0-3.708-2.181,13.122,13.122,0,0,0-2.717-.8,8.464,8.464,0,0,0-1.469-.116l-.276-.005c-.619-.016-2.261.106-2.444.127a15.208,15.208,0,0,0-3.026.627c.166.032.333.067.5.105a9.96,9.96,0,0,1,1.036.316c.141.048.28.1.422.144l.756.289c.031.01,1.049.485,1.049.485.141.078.286.156.432.234.329.177.671.359,1,.569a15.157,15.157,0,0,1,3.129,2.661,10.555,10.555,0,0,1,1.6,2.274,11.883,11.883,0,0,1,.793,1.98,10.9,10.9,0,0,1,.4,2.042,9.234,9.234,0,0,1-.08,2.7l-.079.406h0a11.112,11.112,0,0,1-.415,1.591,6.174,6.174,0,0,1-1.929,2.733c.123-.036.247-.064.368-.105a10.8,10.8,0,0,0,1.77-.782,9.5,9.5,0,0,0,1.985-1.511,14.051,14.051,0,0,0,2.365-2.987c.177-.3.331-.615.494-.947q.111-.229.226-.457l.4-.906.136-.437.1-.3c.037-.134.084-.283.13-.433a8.8,8.8,0,0,0,.251-.928c.081-.425.143-.869.2-1.3.035-.259.071-.519.112-.779a.705.705,0,0,1,.017-.08,16.988,16.988,0,0,0-.93-1.494"
            transform="translate(-903.679 5.376)"/>
      <path class="a" d="M947.02,31.014l.1-.3-.1.3v0Z" transform="translate(-903.604 5.425)"/>
      <path class="a"
            d="M930.809,38.907c.062.131.132.258.2.387.041.076.08.153.125.229.08.139.168.275.255.412.04.061.076.124.118.184q.2.294.422.578a9.464,9.464,0,0,0,1.856,1.8,16.792,16.792,0,0,0,2,1.271,14.085,14.085,0,0,0,4.09,1.409,21.158,21.158,0,0,0,3.475.308s.46,0,.909-.026h0a13.434,13.434,0,0,0,2.617-2.676A14.759,14.759,0,0,0,948.927,39a13.209,13.209,0,0,0,.7-2.744,14.64,14.64,0,0,0,.165-2.083,21.139,21.139,0,0,0-.2-2.487,13.158,13.158,0,0,0-.378-1.725,9.843,9.843,0,0,0-.425-1.211c-.04.272-.084.547-.137.821-.069.363-.154.662-.217.9-.08.3-.167.615-.207.757l-.173.528s-.1.246-.266.623-.4.787-.473.934c-.166.337-.336.684-.535,1.022a15.225,15.225,0,0,1-2.549,3.222,10.6,10.6,0,0,1-2.217,1.683,11.907,11.907,0,0,1-1.951.861,10.958,10.958,0,0,1-2.027.477,9.539,9.539,0,0,1-2.417.052c-.1-.011-.19-.023-.284-.037a13.494,13.494,0,0,1-2.015-.426,6.175,6.175,0,0,1-2.734-1.757c.034.082.068.166.105.248s.073.169.114.252"
            transform="translate(-903.68 5.416)"/>
      <path class="a" d="M930.809,38.862c-.04-.083-.076-.168-.114-.252.037.084.073.169.114.252"
            transform="translate(-903.679 5.461)"/>
      <path class="a" d="M931.131,39.474c-.043-.075-.082-.153-.124-.229.041.076.08.154.124.229"
            transform="translate(-903.678 5.464)"/>
      <path class="a"
            d="M930.391,29.347a9.962,9.962,0,0,0-2.888,1.588,12.047,12.047,0,0,0-2.217,2.22s-.1.1-.282.331a15.583,15.583,0,0,0-1.042,1.6,16.259,16.259,0,0,0-.956,2.12c-.238.618-.423,1.266-.622,1.986a5.179,5.179,0,0,0-.115.614c-.023.153-.092.526-.105.562a8.712,8.712,0,0,0,.547.976c.318.483.649.958.981,1.432,0,0,.736.939.776.98l.551.647.434.4s.237.2.3.254a4.67,4.67,0,0,0,.359.3,18.67,18.67,0,0,0,2.323,1.52,15.541,15.541,0,0,0,2.831,1.15,13.769,13.769,0,0,0,2.71.494,15.036,15.036,0,0,0,2.726-.014,13.7,13.7,0,0,0,3.189-.692l.223-.078a17.441,17.441,0,0,0,1.98-.884c.2-.1.389-.214.582-.331a15.664,15.664,0,0,1-2.968-.271,15.185,15.185,0,0,1-4.4-1.52,17.854,17.854,0,0,1-2.129-1.354,10.836,10.836,0,0,1-3.673-4.815,11.282,11.282,0,0,1-.738-4.189c0-.252.015-.505.036-.76a6.811,6.811,0,0,1,1.022-3.039,5.65,5.65,0,0,1,1.341-1.467h-.014l-.32.079a3.966,3.966,0,0,1-.435.154"
            transform="translate(-903.718 5.417)"/>
      <path class="a"
            d="M921.984,36.848a17.274,17.274,0,0,1,1.024-2.264,19.019,19.019,0,0,1,1.362-2l.039-.053a13.161,13.161,0,0,1,2.416-2.426,11.112,11.112,0,0,1,3.227-1.77l.146-.045a.759.759,0,0,0,.127-.04l.837-.219c.016,0,.133-.026.172-.03v0c.194-.025.387-.053.581-.083a13.633,13.633,0,0,1,1.388-.159c.194-.009.389-.01.583-.006a11.166,11.166,0,0,1,1.935.217,8.478,8.478,0,0,1,2.213.705,6.412,6.412,0,0,1,2.659,2.418,10.2,10.2,0,0,0-.254-1.057,10.839,10.839,0,0,0-.718-1.8,9.521,9.521,0,0,0-1.44-2.037,14.084,14.084,0,0,0-2.9-2.468h0c-.293-.187-.6-.353-.927-.525q-.226-.122-.451-.245s-.745-.364-.843-.4c-.069-.024-.218-.1-.218-.1l-.562-.2c-.132-.041-.279-.092-.427-.145a9.1,9.1,0,0,0-.92-.283c-.423-.1-.865-.174-1.292-.248-.257-.045-.515-.089-.771-.139a.723.723,0,0,1-.1-.026,13.142,13.142,0,0,0-3.15,2.087,19.262,19.262,0,0,0-1.565,1.587,11.91,11.91,0,0,0-1.161,1.553c-.288.467-.534.956-.794,1.474q-.139.277-.28.553a11.357,11.357,0,0,0-.938,2.993,14.5,14.5,0,0,0-.236,2.167,15.855,15.855,0,0,0,.045,2.048,13.2,13.2,0,0,0,.588,2.888c.191-.686.374-1.312.612-1.929"
            transform="translate(-903.725 5.382)"/>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'LeadtributorSimple'
}
</script>

<style scoped>
svg .a {
  fill: #fff;
}
</style>
