<template>
  <svg xmlns="http://www.w3.org/2000/svg" width="164.098" height="33.899" viewBox="0 0 164.098 33.899">
    <g transform="translate(-17 -15.336)">
      <g transform="translate(17 16.286)">
        <path class="a"
              d="M946.971,25.751a13.411,13.411,0,0,0-2.6-2.739,14.74,14.74,0,0,0-3.708-2.181,13.122,13.122,0,0,0-2.717-.8,8.464,8.464,0,0,0-1.469-.116l-.276-.005c-.619-.016-2.261.106-2.444.127a15.208,15.208,0,0,0-3.026.627c.166.032.333.067.5.105a9.96,9.96,0,0,1,1.036.316c.141.048.28.1.422.144l.756.289c.031.01,1.049.485,1.049.485.141.078.286.156.432.234.329.177.671.359,1,.569a15.157,15.157,0,0,1,3.129,2.661,10.555,10.555,0,0,1,1.6,2.274,11.883,11.883,0,0,1,.793,1.98,10.9,10.9,0,0,1,.4,2.042,9.234,9.234,0,0,1-.08,2.7l-.079.406h0a11.112,11.112,0,0,1-.415,1.591,6.174,6.174,0,0,1-1.929,2.733c.123-.036.247-.064.368-.105a10.8,10.8,0,0,0,1.77-.782,9.5,9.5,0,0,0,1.985-1.511,14.051,14.051,0,0,0,2.365-2.987c.177-.3.331-.615.494-.947q.111-.229.226-.457l.4-.906.136-.437.1-.3c.037-.134.084-.283.13-.433a8.8,8.8,0,0,0,.251-.928c.081-.425.143-.869.2-1.3.035-.259.071-.519.112-.779a.705.705,0,0,1,.017-.08,16.988,16.988,0,0,0-.93-1.494"
              transform="translate(-920.678 -19.911)"/>
        <path class="a" d="M947.02,31.014l.1-.3-.1.3v0Z" transform="translate(-920.604 -19.861)"/>
        <path class="a"
              d="M930.809,38.907c.062.131.132.258.2.387.041.076.08.153.125.229.08.139.168.275.255.412.04.061.076.124.118.184q.2.294.422.578a9.464,9.464,0,0,0,1.856,1.8,16.792,16.792,0,0,0,2,1.271,14.085,14.085,0,0,0,4.09,1.409,21.158,21.158,0,0,0,3.475.308s.46,0,.909-.026h0a13.434,13.434,0,0,0,2.617-2.676A14.759,14.759,0,0,0,948.927,39a13.209,13.209,0,0,0,.7-2.744,14.64,14.64,0,0,0,.165-2.083,21.139,21.139,0,0,0-.2-2.487,13.158,13.158,0,0,0-.378-1.725,9.843,9.843,0,0,0-.425-1.211c-.04.272-.084.547-.137.821-.069.363-.154.662-.217.9-.08.3-.167.615-.207.757l-.173.528s-.1.246-.266.623-.4.787-.473.934c-.166.337-.336.684-.535,1.022a15.225,15.225,0,0,1-2.549,3.222,10.6,10.6,0,0,1-2.217,1.683,11.907,11.907,0,0,1-1.951.861,10.958,10.958,0,0,1-2.027.477,9.539,9.539,0,0,1-2.417.052c-.1-.011-.19-.023-.284-.037a13.494,13.494,0,0,1-2.015-.426,6.175,6.175,0,0,1-2.734-1.757c.034.082.068.166.105.248s.073.169.114.252"
              transform="translate(-920.679 -19.87)"/>
        <path class="a" d="M930.809,38.862c-.04-.083-.076-.168-.114-.252.037.084.073.169.114.252"
              transform="translate(-920.679 -19.826)"/>
        <path class="a" d="M931.131,39.474c-.043-.075-.082-.153-.124-.229.041.076.08.154.124.229"
              transform="translate(-920.677 -19.823)"/>
        <path class="a"
              d="M930.391,29.347a9.962,9.962,0,0,0-2.888,1.588,12.047,12.047,0,0,0-2.217,2.22s-.1.1-.282.331a15.583,15.583,0,0,0-1.042,1.6,16.259,16.259,0,0,0-.956,2.12c-.238.618-.423,1.266-.622,1.986a5.179,5.179,0,0,0-.115.614c-.023.153-.092.526-.105.562a8.712,8.712,0,0,0,.547.976c.318.483.649.958.981,1.432,0,0,.736.939.776.98l.551.647.434.4s.237.2.3.254a4.67,4.67,0,0,0,.359.3,18.67,18.67,0,0,0,2.323,1.52,15.541,15.541,0,0,0,2.831,1.15,13.769,13.769,0,0,0,2.71.494,15.036,15.036,0,0,0,2.726-.014,13.7,13.7,0,0,0,3.189-.692l.223-.078a17.441,17.441,0,0,0,1.98-.884c.2-.1.389-.214.582-.331a15.664,15.664,0,0,1-2.968-.271,15.185,15.185,0,0,1-4.4-1.52,17.854,17.854,0,0,1-2.129-1.354,10.836,10.836,0,0,1-3.673-4.815,11.282,11.282,0,0,1-.738-4.189c0-.252.015-.505.036-.76a6.811,6.811,0,0,1,1.022-3.039,5.65,5.65,0,0,1,1.341-1.467h-.014l-.32.079a3.966,3.966,0,0,1-.435.154"
              transform="translate(-920.718 -19.869)"/>
        <path class="a"
              d="M921.984,36.848a17.274,17.274,0,0,1,1.024-2.264,19.019,19.019,0,0,1,1.362-2l.039-.053a13.161,13.161,0,0,1,2.416-2.426,11.112,11.112,0,0,1,3.227-1.77l.146-.045a.759.759,0,0,0,.127-.04l.837-.219c.016,0,.133-.026.172-.03v0c.194-.025.387-.053.581-.083a13.633,13.633,0,0,1,1.388-.159c.194-.009.389-.01.583-.006a11.166,11.166,0,0,1,1.935.217,8.478,8.478,0,0,1,2.213.705,6.412,6.412,0,0,1,2.659,2.418,10.2,10.2,0,0,0-.254-1.057,10.839,10.839,0,0,0-.718-1.8,9.521,9.521,0,0,0-1.44-2.037,14.084,14.084,0,0,0-2.9-2.468h0c-.293-.187-.6-.353-.927-.525q-.226-.122-.451-.245s-.745-.364-.843-.4c-.069-.024-.218-.1-.218-.1l-.562-.2c-.132-.041-.279-.092-.427-.145a9.1,9.1,0,0,0-.92-.283c-.423-.1-.865-.174-1.292-.248-.257-.045-.515-.089-.771-.139a.723.723,0,0,1-.1-.026,13.142,13.142,0,0,0-3.15,2.087,19.262,19.262,0,0,0-1.565,1.587,11.91,11.91,0,0,0-1.161,1.553c-.288.467-.534.956-.794,1.474q-.139.277-.28.553a11.357,11.357,0,0,0-.938,2.993,14.5,14.5,0,0,0-.236,2.167,15.855,15.855,0,0,0,.045,2.048,13.2,13.2,0,0,0,.588,2.888c.191-.686.374-1.312.612-1.929"
              transform="translate(-920.724 -19.904)"/>
      </g>
      <g class="toggle-element" :class="{hide: !showText}" transform="translate(4 -3)">
        <path class="b" d="M961.457,25.933h-3.4V41.7h3.4V25.933Z" transform="translate(-899.555 -7.597)"/>
        <path class="c"
              d="M974.22,36.424v.41a3.652,3.652,0,0,1-.02.389h-7.4a1.783,1.783,0,0,0,.256.78,2.223,2.223,0,0,0,.554.6,2.716,2.716,0,0,0,1.629.543,2.835,2.835,0,0,0,1.353-.3,2.678,2.678,0,0,0,.9-.768l2.337,1.476a4.718,4.718,0,0,1-1.9,1.608,6.27,6.27,0,0,1-2.735.564,6.5,6.5,0,0,1-2.172-.359,5.261,5.261,0,0,1-1.794-1.045,4.844,4.844,0,0,1-1.209-1.691,5.667,5.667,0,0,1-.441-2.3,5.752,5.752,0,0,1,.43-2.264,5.127,5.127,0,0,1,1.168-1.722,5.211,5.211,0,0,1,1.742-1.1,5.951,5.951,0,0,1,2.173-.39,5.475,5.475,0,0,1,2.07.38,4.493,4.493,0,0,1,1.618,1.1,5.073,5.073,0,0,1,1.056,1.741,6.7,6.7,0,0,1,.379,2.338m-3.094-1.291a2.018,2.018,0,0,0-.5-1.374,1.893,1.893,0,0,0-1.506-.574,2.55,2.55,0,0,0-.9.154,2.338,2.338,0,0,0-.717.42,2.078,2.078,0,0,0-.492.626,1.841,1.841,0,0,0-.205.748Z"
              transform="translate(-899.529 -7.575)"/>
        <path class="c"
              d="M976.112,32.592a5.871,5.871,0,0,1,2.1-1.291,7.16,7.16,0,0,1,2.448-.431,6.544,6.544,0,0,1,2.183.317,3.249,3.249,0,0,1,1.445.983,4.2,4.2,0,0,1,.81,1.681,9.88,9.88,0,0,1,.257,2.408l.025,5.4-3.1-.006V40.318h-.061a2.532,2.532,0,0,1-1.178.983,4.2,4.2,0,0,1-1.712.349,5.27,5.27,0,0,1-1.27-.164,3.724,3.724,0,0,1-1.2-.533,2.858,2.858,0,0,1-.891-.983,3.027,3.027,0,0,1-.349-1.517,2.573,2.573,0,0,1,.6-1.783,3.978,3.978,0,0,1,1.557-1.045,8.22,8.22,0,0,1,2.122-.491,21.621,21.621,0,0,1,2.274-.124v-.164a1.253,1.253,0,0,0-.532-1.117,2.3,2.3,0,0,0-1.312-.359,3.265,3.265,0,0,0-1.383.307,4.391,4.391,0,0,0-1.137.737l-1.7-1.823Zm6.169,4.365h-.43q-.553,0-1.117.051a4.615,4.615,0,0,0-1,.195,1.868,1.868,0,0,0-.727.42.967.967,0,0,0-.287.727.88.88,0,0,0,.134.492,1.03,1.03,0,0,0,.337.327,1.43,1.43,0,0,0,.472.175,2.715,2.715,0,0,0,.511.051,2.08,2.08,0,0,0,1.569-.565,2.106,2.106,0,0,0,.542-1.526v-.349Z"
              transform="translate(-899.475 -7.575)"/>
        <path class="c"
              d="M995.406,36.3a2.755,2.755,0,0,0-.175-.963,2.706,2.706,0,0,0-.491-.841,2.468,2.468,0,0,0-.768-.595,2.267,2.267,0,0,0-1.025-.225,2.312,2.312,0,0,0-1.045.225,2.351,2.351,0,0,0-1.219,1.414,3.069,3.069,0,0,0-.155.963,3.161,3.161,0,0,0,.155.974,2.5,2.5,0,0,0,.46.85,2.34,2.34,0,0,0,.759.595,2.312,2.312,0,0,0,1.045.225,2.267,2.267,0,0,0,1.025-.225,2.453,2.453,0,0,0,.768-.595,2.712,2.712,0,0,0,.491-.84,2.755,2.755,0,0,0,.175-.963m.122,5.368,0-1.577h-.041a3.2,3.2,0,0,1-1.4,1.2,4.585,4.585,0,0,1-1.937.42,4.514,4.514,0,0,1-2.049-.452,4.685,4.685,0,0,1-1.526-1.2,5.247,5.247,0,0,1-.953-1.733,6.422,6.422,0,0,1-.329-2.049,6.156,6.156,0,0,1,.339-2.039,5.3,5.3,0,0,1,.963-1.711,4.491,4.491,0,0,1,3.515-1.6,3.887,3.887,0,0,1,1.906.43,4.219,4.219,0,0,1,1.208.943h.041V25.933h3.361L998.6,41.67Z"
              transform="translate(-899.422 -7.597)"/>
        <path class="c"
              d="M1004.878,33.73v3.894a1.743,1.743,0,0,0,.276,1.076,1.187,1.187,0,0,0,.993.359,3.609,3.609,0,0,0,.523-.041,1.8,1.8,0,0,0,.46-.123l.042,2.459a5.617,5.617,0,0,1-.882.215,6.258,6.258,0,0,1-1.066.092,5.019,5.019,0,0,1-1.721-.256,2.671,2.671,0,0,1-1.117-.737,2.9,2.9,0,0,1-.6-1.148,5.577,5.577,0,0,1-.185-1.486v-4.3h-1.64V31.208h1.619V28.523h3.3v2.685h2.4V33.73Z"
              transform="translate(-899.364 -7.585)"/>
        <path class="c"
              d="M1015.433,33.944a2.535,2.535,0,0,0-.44-.081c-.145-.014-.283-.021-.421-.021a2.4,2.4,0,0,0-1.137.246,2.292,2.292,0,0,0-.737.595,2.244,2.244,0,0,0-.4.757,2.542,2.542,0,0,0-.124.717l.021,5.486-3.365,0-.016-10.449h3.238v1.477h.041A3.3,3.3,0,0,1,1013.2,31.4a2.862,2.862,0,0,1,1.659-.491,3.708,3.708,0,0,1,.4.02,1.588,1.588,0,0,1,.317.061l-.143,2.951Z"
              transform="translate(-899.324 -7.574)"/>
        <path class="c"
              d="M1016.945,41.666l-.01-10.447h3.36l.029,10.441-3.379.006Zm3.6-13.706a1.736,1.736,0,0,1-.154.728,1.863,1.863,0,0,1-.411.584,1.9,1.9,0,0,1-.614.39,2,2,0,0,1-.748.144,1.885,1.885,0,0,1-1.373-.543,1.76,1.76,0,0,1-.554-1.3,1.8,1.8,0,0,1,.144-.707,1.682,1.682,0,0,1,.41-.584,2.254,2.254,0,0,1,.615-.4,1.857,1.857,0,0,1,.758-.153,2,2,0,0,1,.748.143,1.854,1.854,0,0,1,1.025.972,1.745,1.745,0,0,1,.154.728"
              transform="translate(-899.289 -7.596)"/>
        <path class="c"
              d="M1031.067,36.282a3.091,3.091,0,0,0-.154-.963,2.359,2.359,0,0,0-1.219-1.414,2.314,2.314,0,0,0-1.045-.225,2.266,2.266,0,0,0-1.025.225,2.466,2.466,0,0,0-.769.595,2.78,2.78,0,0,0,0,3.607,2.451,2.451,0,0,0,.769.595,2.266,2.266,0,0,0,1.025.225,2.264,2.264,0,0,0,1.8-.82,2.483,2.483,0,0,0,.461-.85,3.184,3.184,0,0,0,.154-.974m3.239,0a6.416,6.416,0,0,1-.329,2.049,5.244,5.244,0,0,1-.953,1.733,4.684,4.684,0,0,1-1.526,1.2,4.511,4.511,0,0,1-2.049.452,4.586,4.586,0,0,1-1.937-.42,3.2,3.2,0,0,1-1.4-1.2h-.04l.012,1.575-3.087,0-.02-15.74h3.361v6.374h.041a4.221,4.221,0,0,1,1.208-.943,3.887,3.887,0,0,1,1.906-.43,4.487,4.487,0,0,1,3.515,1.6,5.3,5.3,0,0,1,.963,1.711,6.183,6.183,0,0,1,.339,2.039"
              transform="translate(-899.26 -7.597)"/>
        <path class="c"
              d="M1043.114,41.645l-.016-1.657h-.041a2.862,2.862,0,0,1-.481.656,3.023,3.023,0,0,1-.7.532,4.274,4.274,0,0,1-.881.37,3.547,3.547,0,0,1-1.015.144,3.706,3.706,0,0,1-1.732-.37,3.329,3.329,0,0,1-1.147-.953,3.757,3.757,0,0,1-.636-1.331,6.047,6.047,0,0,1-.195-1.527V31.2h3.382v5.533a5.2,5.2,0,0,0,.061.82,1.994,1.994,0,0,0,.236.7,1.294,1.294,0,0,0,.46.482,1.46,1.46,0,0,0,.759.174,1.54,1.54,0,0,0,1.342-.656,2.61,2.61,0,0,0,.461-1.537V31.2h3.361l-.007,10.454-3.215-.005Z"
              transform="translate(-899.199 -7.573)"/>
        <path class="c"
              d="M1052.555,33.73v3.894a1.743,1.743,0,0,0,.277,1.076,1.186,1.186,0,0,0,.994.359,3.6,3.6,0,0,0,.522-.041,1.79,1.79,0,0,0,.461-.123l.041,2.459a5.61,5.61,0,0,1-.881.215,6.259,6.259,0,0,1-1.066.092,5.02,5.02,0,0,1-1.721-.256,2.678,2.678,0,0,1-1.118-.737,2.9,2.9,0,0,1-.6-1.148,5.535,5.535,0,0,1-.185-1.486v-4.3h-1.64V31.208h1.619V28.523h3.3v2.685h2.4V33.73Z"
              transform="translate(-899.148 -7.585)"/>
        <path class="c"
              d="M1064.076,36.259a2.915,2.915,0,0,0-.164-.963,2.541,2.541,0,0,0-.471-.83,2.406,2.406,0,0,0-.758-.585,2.54,2.54,0,0,0-2.09,0,2.293,2.293,0,0,0-.747.585,2.5,2.5,0,0,0-.452.83,3.113,3.113,0,0,0,0,1.927,2.63,2.63,0,0,0,.462.851,2.274,2.274,0,0,0,.758.6,2.537,2.537,0,0,0,2.089,0,2.272,2.272,0,0,0,.759-.6,2.594,2.594,0,0,0,.461-.851,3.089,3.089,0,0,0,.154-.963m3.239,0a5.51,5.51,0,0,1-.451,2.265,5.066,5.066,0,0,1-1.23,1.721,5.626,5.626,0,0,1-1.8,1.1,6.351,6.351,0,0,1-4.376,0,5.5,5.5,0,0,1-1.8-1.1,5.155,5.155,0,0,1-1.218-1.721,5.525,5.525,0,0,1-.451-2.265,5.453,5.453,0,0,1,.451-2.254,5.082,5.082,0,0,1,1.218-1.7,5.292,5.292,0,0,1,1.8-1.065,6.66,6.66,0,0,1,4.376,0,5.41,5.41,0,0,1,1.8,1.065,5,5,0,0,1,1.23,1.7,5.437,5.437,0,0,1,.451,2.254"
              transform="translate(-899.11 -7.575)"/>
        <path class="c"
              d="M1076,33.944a2.553,2.553,0,0,0-.44-.081c-.144-.014-.283-.021-.421-.021a2.4,2.4,0,0,0-1.137.246,2.3,2.3,0,0,0-.737.595,2.245,2.245,0,0,0-.4.757,2.534,2.534,0,0,0-.124.717l.03,5.5-3.377-.007-.013-10.448h3.238v1.477h.041a3.3,3.3,0,0,1,1.107-1.272,2.862,2.862,0,0,1,1.659-.491,3.71,3.71,0,0,1,.4.02,1.583,1.583,0,0,1,.317.061L1076,33.944Z"
              transform="translate(-899.05 -7.574)"/>
        <path class="d"
              d="M2.178,22.215a1.037,1.037,0,0,1-.767-.322,1.061,1.061,0,0,1-.317-.771,1.077,1.077,0,0,1,.317-.776,1.029,1.029,0,0,1,.767-.327,1.056,1.056,0,0,1,.781.327,1.069,1.069,0,0,1,.322.776,1.053,1.053,0,0,1-.322.771A1.064,1.064,0,0,1,2.178,22.215Zm10.6-.674a5.2,5.2,0,0,1-2.734.693,4.527,4.527,0,0,1-3.452-1.392,5.043,5.043,0,0,1-1.313-3.608,5.544,5.544,0,0,1,1.416-3.97,4.954,4.954,0,0,1,3.779-1.5,5.261,5.261,0,0,1,2.324.488v1.641a4.072,4.072,0,0,0-2.383-.781,3.22,3.22,0,0,0-2.515,1.1A4.169,4.169,0,0,0,6.914,17.1a3.969,3.969,0,0,0,.923,2.773,3.181,3.181,0,0,0,2.476,1.016,4.014,4.014,0,0,0,2.461-.869ZM16.8,22H15.2V7.2h1.6Zm7.422.234a4.638,4.638,0,0,1-3.54-1.4,5.191,5.191,0,0,1-1.323-3.716,5.407,5.407,0,0,1,1.377-3.936,4.95,4.95,0,0,1,3.721-1.416,4.485,4.485,0,0,1,3.491,1.377A5.46,5.46,0,0,1,29.2,16.961a5.372,5.372,0,0,1-1.353,3.833A4.739,4.739,0,0,1,24.219,22.234Zm.117-9.121a3.046,3.046,0,0,0-2.441,1.05,4.312,4.312,0,0,0-.9,2.9,4.078,4.078,0,0,0,.908,2.8,3.087,3.087,0,0,0,2.432,1.025,2.928,2.928,0,0,0,2.388-1.006,4.365,4.365,0,0,0,.835-2.861,4.44,4.44,0,0,0-.835-2.891A2.915,2.915,0,0,0,24.336,13.113ZM39.844,22h-1.6V20.418H38.2a3.289,3.289,0,0,1-3.086,1.816q-3.574,0-3.574-4.258V12h1.592v5.723q0,3.164,2.422,3.164a2.45,2.45,0,0,0,1.929-.864,3.307,3.307,0,0,0,.757-2.261V12h1.6Zm11.768,0h-1.6V20.3h-.039a3.7,3.7,0,0,1-3.437,1.934,3.735,3.735,0,0,1-3.013-1.343,5.509,5.509,0,0,1-1.128-3.657,5.993,5.993,0,0,1,1.25-3.975,4.123,4.123,0,0,1,3.33-1.494,3.206,3.206,0,0,1,3,1.621h.039V7.2h1.6Zm-1.6-4.521V16a2.861,2.861,0,0,0-.8-2.051,2.686,2.686,0,0,0-2.031-.84,2.766,2.766,0,0,0-2.3,1.074,4.707,4.707,0,0,0-.84,2.969,4.234,4.234,0,0,0,.806,2.729,2.633,2.633,0,0,0,2.163,1,2.735,2.735,0,0,0,2.173-.967A3.6,3.6,0,0,0,50.01,17.479Z"
              transform="translate(57 30)"/>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'LeadtributorCloudIcon',
  props: {
    showText: Boolean
  }
}
</script>

<style scoped>
svg .a {
  fill: #3e4041;
}

.b, .c {
  fill: #fff;
}

.b {
  fill-rule: evenodd;
}

.d {
  fill: #174136;
}
</style>
