<template>
  <PageLayout>
    <template slot="header">
      <Header :authenticated="signedIn"/>
    </template>
    <template slot="content">
      <Login v-if="!signedIn"/>
      <router-view v-else/>
    </template>
    <template slot="footer"></template>
  </PageLayout>
</template>

<script>
import {AmplifyEventBus} from 'aws-amplify-vue'
import {Auth} from 'aws-amplify'
import Login from "./components/auth/Login";
import PageLayout from "@/components/layout/PageLayout";
import Header from "@/components/common/Header";

export default {
  name: 'App',
  async beforeCreate() {
    try {
      await Auth.currentAuthenticatedUser()
      this.signedIn = true
    } catch (err) {
      this.signedIn = false
    }
    AmplifyEventBus.$on('authState', info => {
      if (info === 'signedIn') {
        this.signedIn = true
      } else {
        this.signedIn = false
      }
    });
  },
  data: () => ({
    signedIn: false
  }),
  components: {
    Header,
    PageLayout,
    Login
  }
}
</script>

<style>
.app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
