<template>
  <div>
    <v-row justify="center">
      <v-col cols="12">
        <LoginComponent v-model="loginModel" @login="onLogin">
          <a>Passwort vergessen?</a>
          <a>Datenschutz</a>
          <a>AGB</a>
        </LoginComponent>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import LoginComponent from '@/components/login/LoginComponent'
import { reactive } from '@vue/composition-api'
import LoginService from '@/api/loginService'

const loginService = new LoginService()

export default {
  name: 'LoginView',
  components: { LoginComponent },
  setup () {
    const loginModel = reactive({
      login: '',
      password: '',
      failedLogin: false
    })

    async function onLogin (loginData) {
      const loginResult = await loginService.login(loginData.login, loginData.password)
      console.log(loginResult);

      localStorage.setItem("accessToken", loginResult.data.accessToken);
      localStorage.setItem("idToken", loginResult.data.idToken);
      localStorage.setItem("refreshToken", loginResult.data.refreshToken);

      loginData.failedLogin = false
      this.$emit("loggedIn");
    }

    return {
      loginModel,
      onLogin
    }
  }
}
</script>

<style scoped>

</style>
