<template>
  <v-app>
    <v-row justify="space-around">
      <LoginView v-if="!signedIn" @loggedIn="eventHandler"></LoginView>
      <RouterView v-else></RouterView>
    </v-row>
  </v-app>
</template>

<style lang="scss">
@import "scss/fonts";

html {
  overflow-x: auto !important;
  height: 100%;
  min-height: 100%;
}

#app {
  background-image: url("assets/icons/background.svg");
  background-position: center center;
  background-repeat: no-repeat;
  min-width: 1200px;
  height: 100%;
  min-height: 680px;

  .home {
    padding: 32px 64px;
  }

  .layout-wrapper {
    display: flex;
    height: 100%;
  }

  .notification {
    position: relative;

    &::after {
      background-color: #B833CC;
      border: 1px solid $white;
      border-radius: 50%;
      content: '';
      display: block;
      width: 11px;
      height: 11px;
    }
  }

  .text-h1 {
    color: #174136;
  }
}

@import "scss/components/form";
@import "scss/components/buttons/button";
</style>
<script>
import {provideLocalization} from './plugins/localization'
import de from './locales/de.json'
import en from './locales/en.json'

import LoginView from '@/views/auth/LoginView'

import LoginService from "@/api/loginService";

const loginService = new LoginService();

export default {
  components: {LoginView},
  setup(props, context) {
    provideLocalization({
      de,
      en
    })

    const signedIn = loginService.isLoggedIn();

    function eventHandler() {
      this.signedIn = loginService.isLoggedIn();
      context.root.$router.push("/");
    }

    return {
      signedIn,
      eventHandler
    }
  }
}
</script>
