#app {
  fieldset {
    border-color: #D3D3D3;
  }

  .error--text {
    fieldset {
      border-color: #F83333;
    }
  }

  &.v-application .primary--text {
    color: $primary !important;
    caret-color: $primary !important;
  }

  .v-text-field--outlined.v-input--is-focused:not(.error--text)  fieldset {
    border-color: #57B98F;
  }

  .v-text-field > .v-input__control > .v-input__slot > .v-text-field__slot {
    color: #3E4041;
    caret-color: #3E4041;
  }

  .v-text-field input {
    color: #3E4041;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    padding-left: 4px;
  }

  .v-textarea textarea {
    color: #3E4041;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    padding-left: 4px;
  }

  // label
  .v-input__prepend-outer {
    color: #878787;
    font-weight: 500;
    line-height: 22px;
    margin-right: 0;
    margin-bottom: 0;
    padding-left: $spacer;
    padding-right: 9px;
    padding-bottom: 12px;
    width: 250px;
    flex: 0 0 250px;
    min-height: 30px;
  }

  .v-text-field {
    display: flex;

    .v-input__prepend-outer {
      margin-top: auto;
    }

    &.v-text-field--enclosed .v-text-field__details {
      margin-bottom: 0;
      min-height: 0;

      .v-messages {
        min-height: 0;

        &.error--text {
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          padding-top: 16px;
        }
      }
    }
  }

  .v-input__slot {
    margin-bottom: 0;
  }

  // Select box options
  .v-select-list .v-list-item__title,
  .v-select__selection {
    color: #3E4041;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
  }
}
