<template>
  <div>
    <form @submit.prevent="bttnLoginClicked" v-if="!isLoading" class="form centered" >
      <label>
        Username:
        <input type="text" v-model="username" autocomplete="username">
      </label>
      <label >
        Password:
        <input type="password" v-model="password" autocomplete="off">
      </label>
      <button type="submit">Login</button>

    </form>
    <LoadingSpinner v-if="isLoading"/>
  </div>
</template>

<script>
import {Auth} from 'aws-amplify'
import {AmplifyEventBus} from 'aws-amplify-vue'
import LoadingSpinner from "@/components/common/LoadingSpinner";

export default {
  name: 'Login',
  components: {LoadingSpinner},
  methods: {
    bttnLoginClicked: async function () {
      this.isLoading = true;
      try {
        await Auth.signIn(this.username, this.password);
        AmplifyEventBus.$emit('authState', 'signedIn');
      } catch (error) {
        console.log('error signing in', error);
      }
      this.isLoading = false;
    }
  },
  data: () => ({
    username: "",
    password: "",
    isLoading: false
  })
}
</script>

<style scoped>

.form {
  display: flex;
  flex-direction: column;
}

.centered {
  align-items: center;
  justify-content: center;
}

</style>
