<template>
  <button @click="logout">Logout</button>
</template>

<script>
import {Auth} from "aws-amplify";
import {AmplifyEventBus} from "aws-amplify-vue";

export default {
  name: "LogoutButton",
  methods: {
    logout() {
      Auth.signOut().then(() => AmplifyEventBus.$emit('authState', 'signedOut'));
      this.$router.push("/");
    }
  }
}
</script>

<style scoped>

</style>
