<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
  <img src="assets/leadtributor_circle-favicon-32.png" alt="l">
  <h3 fxHide.xs style="color: whitesmoke" i18n="site header|@@companyname">Title</h3>
  <button fxHide fxShow.xs mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
    <mat-icon>menu</mat-icon>
  </button>
</div>
