<app-brand></app-brand>

<button mat-raised-button color="primary">
  Lead anlegen
</button>

<button fxHide.xs fxShow mat-mini-fab color="primary">
  <mat-icon>account_circle</mat-icon>
</button>

<button fxHide fxShow.xs mat-icon-button color="primary">
  <mat-icon>account_circle</mat-icon>
</button>
