<div fxLayout="row wrap">
  <app-sidenav fxFlex="15"></app-sidenav>
  <app-welcome fxFlex="85"></app-welcome>
<!--  <div fxLayout="column" fxLayoutAlign="stretch" style="background-color: lightslategray">-->
<!--  </div>-->
</div>
