<mat-sidenav-container fxFill>
  <mat-sidenav disableClose="false" disabled="false">

  </mat-sidenav>
  <mat-sidenav-content fxLayout="column" style="margin-top: 10px" fxLayoutAlign="start " fxLayoutGap="5px">
    <a mat-raised-button routerLink="/" routerLinkActive="active">Start</a>
    <a mat-raised-button routerLink="/second"  routerLinkActive="active">Zweiter View</a>
  </mat-sidenav-content>
</mat-sidenav-container>
