<template>
  <div class="container">
    <slot name="header">
      <div>header</div>
    </slot>
    <slot name="content">
      <div>content</div>
    </slot>
    <slot name="footer">
      <div>footer</div>
    </slot>
  </div>
</template>

<script>
export default {
  name: "PageLayout"
}
</script>

<style scoped>
.container {
  display: flex;
  flex-direction: column;
}

</style>
