<div fxLayout="column" fxFill style="background-color: lightslategray;">

  <app-header fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="space-between center"></app-header>

  <div fxLayout="row" fxLayoutAlign="start stretch" fxFlex="1 1 auto" style="overflow: auto">
    <app-sidenav fxHide.lt-sm fxFlex="0 0 20%" fxFill></app-sidenav>
    <div fxFlex="1 1 auto" fxLayout="column" fxLayoutGap="10px" style="overflow: auto">
      <router-outlet  fxHide=""></router-outlet>
    </div>
  </div>
</div>
