/* dosis-300 - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/dosis-v18-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('assets/fonts/dosis-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/dosis-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/dosis-v18-latin-300.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/dosis-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/dosis-v18-latin-300.svg#Dosis') format('svg'); /* Legacy iOS */
}

/* dosis-regular - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/dosis-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('assets/fonts/dosis-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/dosis-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/dosis-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/dosis-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/dosis-v18-latin-regular.svg#Dosis') format('svg'); /* Legacy iOS */
}

/* dosis-500 - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/dosis-v18-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('assets/fonts/dosis-v18-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/dosis-v18-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/dosis-v18-latin-500.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/dosis-v18-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/dosis-v18-latin-500.svg#Dosis') format('svg'); /* Legacy iOS */
}

/* dosis-700 - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/dosis-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('assets/fonts/dosis-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/dosis-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/dosis-v18-latin-700.woff') format('woff'), /* Modern Browsers */
  url('assets/fonts/dosis-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/dosis-v18-latin-700.svg#Dosis') format('svg'); /* Legacy iOS */
}
