// src/sass/variables.scss

// Globals
$body-font-family: 'Dosis', sans-serif;
$font-size-root: 18px;
$border-radius-root: 5px;

// Colors
$green: (
        'darken-1': #57B98F,
        'base': #5AB78E,
        'lighten-1': #59D6A0,
        'lighten-5': #DCF0E7,
);

$pink: (
        'darken-1': #DD227B,
);

$white:         #FFFFFF;
$primary:       #5AB78E;
$primary-hover: #59FF72;


$material-light: (
        'background': #F5F5F5,
        'dividers': #8EA2A8,
        'text': (
                'primary': #3E4041
        ),
        'table': (
                'hover': rgba(map-get($green, 'darken-1'), .2)
        ),
);


// Headings
$headings: (
        'h1': (
                'size': 20px,
                'weight': 500,
                'line-height': 26px,
                'letter-spacing': 0
        ),
);

// Grid
$spacer: 16px;
$grid-gutter: 32px;
//$form-grid-gutter: 16px;

// Buttons
$btn-sizes: (
        'default': 38,
        'x-large': 48
);
$btn-text-transform: none;


// Forms
$text-field-outlined-fieldset-border: 1px solid currentColor;
$text-field-filled-full-width-outlined-slot-min-height: 48px;


// Expansion
$expansion-panel-border-radius: 5px;
$expansion-panel-active-margin: 32px;
$expansion-panel-header-font-size: 18px;
$expansion-panel-header-min-height: 64px;
$expansion-panel-active-header-min-height: 64px;
$expansion-panel-header-padding: 13px 24px;
$expansion-panel-content-padding: 16px 0 32px;

