<template>
  <div v-if="authenticated">
    <router-link to="/">Welcome</router-link>
    <router-link to="/a">Welcome2</router-link>
    <LogoutButton/>
  </div>
  <div v-else>
    WELCOME LOGIN
  </div>
</template>

<script>
import LogoutButton from "@/components/auth/LogoutButton";

export default {
  name: "Header",
  components: {LogoutButton},
  props: ['authenticated'],
}
</script>

<style scoped>

</style>
