<template>
  <div>
    <h2>Welcome 2</h2>
    <LoadingSpinner v-if="loading"/>
    <pre>{{this.market}}</pre>


  </div>
</template>

<script>
import LoadingSpinner from "@/components/common/LoadingSpinner";
import {API} from "@aws-amplify/api";
export default {
name: "Welcome2",
  components: {LoadingSpinner},
  data: () => ({
    loading: false,
    market: null
  }),
  created() {
    this.getMarket()
  },
  watch: {
    '$route' : 'getMarket'
  },
  methods : {
    getMarket()  {
      console.log("asd")
      this.loading = true
      try {
        API.get('MarketAPI', '/markets/49682fb5-05a6-4a7c-bb08-9c9f573561df', null)
        .then(response => this.market = response);
      } catch (e) {
        console.log(e);
      }
      this.loading = false;
    }
  }

}
</script>

<style scoped>

</style>
