<mat-card>
  <mat-card-header [style.justify-content]="justifyHeaderContent">
    <mat-card-title >
      <h1>{{title}}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
</mat-card>
